@model ToDoList_task.Models.ViewModel

<ul>
    @foreach (var item in Model.Categories)
    {
        <li>
                @item.Name
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </li>
    }
</ul>

<form asp-action="Index" asp-controller="Category">
    <label asp-for="Category.Name">Input task:</label>
    <input asp-for="Category.Name" name="Category.Name" type="text"><br/>
</form>

